@import "tailwindcss";

:root {
  --background: #ffffff;
  --background: #000000;
  --foreground: #00ff41;
}

@theme {
  --font-mono: "Courier New", Courier, monospace;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-mono);
  overflow-x: hidden;
}
